<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="container" id="app">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="border border-3 border-primary"></div>
                        <div class="card bg-white shadow-lg">
                            <div class="card-body p-5">
                                <h2 class="fw-bold mb-2 text-uppercase">My-Auth</h2>

                                <p
                                    class="mb-4"
                                    style="color: red"
                                    v-if="validationStatus =='validation failed' "
                                >
                                    {{ validationStatus }}
                                </p>
                                <p class="mb-4" style="color: #51897b" v-else>
                                    {{ validationStatus }}
                                </p>

                                <div class="d-grid">
                                    <a v-bind:href="baseURL+'/auth/login' ">
                                        <button
                                            class="btn btn-outline-dark"
                                            @click="sendCodeByEmail"
                                            :disabled="timerCount>0"
                                        >
                                            Login page
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <script src="https://kit.fontawesome.com/d278adcdd4.js" crossorigin="anonymous"></script>
        <script src="/static/vue.js"></script>

        <script>
            const app = Vue.createApp({
                data() {
                    return {
                        baseURL: '',
                        validationStatus: ''
                    };
                },

                mounted: async function () {
                    this.baseURL = '<%= baseURL %>';
                    this.validationStatus = '<%= validationStatus %>';
                }
            });
            app.mount('#app');
        </script>
    </body>
</html>
